[Desktop Entry]
Encoding=UTF-8
Name=Nanite
Comment=Nanite P2P Cryptocurrency
Comment[fr]=Nanite, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Nanite, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/Nanite-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/nanite80.xpm
MimeType=x-scheme-handler/nanite;
Categories=Office;
